
body {
    text-align: center;
    margin: 2rem;
}

table {
    margin: 2rem auto;
}

table a {
    color: red;
    text-decoration: none;
}

td:nth-child(2),
td:nth-child(3)  {
    text-align: center;
    vertical-align: middle;
}


label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

